{% extends "personal/header.html" %} {% block content %}
<div class="container-fluid">
    <a href="/userSearchPage/">user Search</a>
    <form action="/insert/" method="post" enctype="multipart/form-data">{% csrf_token %}
        <h3>Create New Resource</h3>
        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="sel1">Select list:</label>
                        <select name="type" id="type" class="form-control">
                            <option value="Container">Container</option>
                            <option value="Binary">Binary</option>
                        </select>
                        <label for="sel1">Identifier:</label>
                        <br/>
                        <input type="text" name="Identifier" required="required" />
                        <br/>
                        <div id="container">
                            <div class="row">
                                <div id="language_container">
                                    <h3 class="pull-down-20">Step 1 <small>Select Language</small></h3>
                                    <select name="ocr_languages">
                                        <option value="sqi">Albanian</option>
                                        <option value="afr">Afrikaans</option>
                                        <option value="ara">Arabic</option>
                                        <option value="asm">Assami</option>
                                        <option value="aze">Azerbaijani</option>
                                        <option value="eus">Basque</option>
                                        <option value="bel">Belarusian</option>
                                        <option value="ben">Bengali</option>
                                        <option value="bul">Bulgarian</option>
                                        <option value="cat">Catalan</option>
                                        <option value="chr">Cherokee</option>
                                        <option value="hrv">Croatian</option>
                                        <option value="ces">Czech</option>
                                        <option value="chi_sim" selected="selected">Chinese Simplified</option>
                                        <option value="chi_tra">Chinese Traditional</option>
                                        <option value="dan">Danish</option>
                                        <option value="nld">Dutch</option>
                                        <option value="eng">English</option>
                                        <option value="enm">Ancient English</option>
                                        <option value="est">Estonian</option>
                                        <option value="epo">Esperanto</option>
                                        <option value="epo_alt">Ancient Esperanto</option>
                                        <option value="frk">Frankish</option>
                                        <option value="fin">Finnish</option>
                                        <option value="fra">French</option>
                                        <option value="frm">Ancient French</option>
                                        <option value="glg">Galician</option>
                                        <option value="guj"> Gujarath</option>
                                        <option value="guj+eng"> Gujarath+English</option>
                                        <option value="deu">German</option>
                                        <option value="ell">Greek</option>
                                        <option value="grc">Ancient Greek</option>
                                        <option value="heb">Hebrew</option>
                                        <option value="hin">Hindi</option>
                                        <option value="hun">Hungarian</option>
                                        <option value="ind">Indonesian</option>
                                        <option value="isl">Icelandic</option>
                                        <option value="ita">Italian</option>
                                        <option value="ita_old">Ancient Italian</option>
                                        <option value="jpn">Japanese</option>
                                        <option value="kan">Kannada</option>
                                        <option value="kor">Korean</option>
                                        <option value="lav">Latvian</option>
                                        <option value="lit">Lithuanian</option>
                                        <option value="mkd">Macedonian</option>
                                        <option value="msa">Malay</option>
                                        <option value="mal">Malayalam</option>
                                        <option value="mlt">Maltese</option>
                                        <option value="mar">Marathi</option>
                                        <option value="nor">Norwegian</option>
                                        <option value="pan">Panjabi</option>
                                        <option value="pol">Polish</option>
                                        <option value="por">Portuguese</option>
                                        <option value="ron">Romanian</option>
                                        <option value="rus">Russian</option>
                                        <option value="san">Sanskrit</option>
                                        <option value="srp">Serbian</option>
                                        <option value="swe">Swedish</option>
                                        <option value="slv">Slovenian</option>
                                        <option value="slk">Slovakian</option>
                                        <option value="swa">Swahili</option>
                                        <option value="spa">Spanish</option>
                                        <option value="spa_old">Ancient Spanish</option>
                                        <option value="tam">Tamil</option>
                                        <option value="tgl">Tagalog</option>
                                        <option value="tel">Telugu</option>
                                        <option value="tha">Thai</option>
                                        <option value="tur">Turkish</option>
                                        <option value="ukr">Ukrainian</option>
                                        <option value="vie">Vietnamese</option>
                                    </select>
                                </div>
                                <div id="document_type_container">
                                    <h3 class="pull-down-20">Step 2 <small>Select Document Type</small></h3>
                                    <select name="document_Type" id="document_Type">
                                        <option value="book">Book</option>
                                        <option value="newspapers">Newspapers</option>
                                    </select>
                                </div>
                                <div id="subject_container">
                                    <h3 class="pull-down-20">Step 3 <small>Select Subjects</small></h3>
                                    <select name="subjects" id="subjects">
                                        <option value="travel">Travel</option>
                                        <option value="biographies">Biographies</option>
                                        <option value="history">History</option>
                                        <option value="geography">Geography</option>
                                        <option value="biology">Biology</option>
                                    </select>
                                    <br> Title :
                                    <input type="text" name="book_title" /> Author :
                                    <input type="text" name="author" /> Year :
                                    <input type="text" name="year" /> Synopsis :
                                    <textarea id="description" name="description"></textarea>
                                </div>
                                <div id="title_container">
                                    <h3 class="pull-down-20">Step 3 <small>Select Title</small></h3>
                                    <select name="title">
                                        <option value="the_Times_Of_India"> The Times of India</option>
                                        <option value="Indian_Express">Indian Express</option>
                                        <option value=" London_Times"> London Times</option>
                                        <option value="Afternoon">Afternoon</option>
                                    </select>
                                </div>
                                <div>
                                    <h3 class="pull-down-20">Step 4 <small>Select OCR Method</small></h3>
                                    <input type="radio" name="ocrMethod" value="Tesseract_OCR" checked> Tesseract-OCR
                                    <br>
                                    <input type="radio" name="ocrMethod" value="Tika_OCR"> TikaOCR
                                    <br>
                                </div>
                                <div>
                                    <br>
                                    <label for="sel1">File:</label>
                                    <br/>
                                    <input type="file" id="file" name="file" />
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
$(document).ready(function() {
    $("#container").hide();
    // $("#col-md-3").hide();
    $("#title_container").hide();
    $("#type").change(function() {
        var options = $("#type").val();
        if (options == "Binary") {
            $("#container").show();
            //- $('#file').attr('required',true);​​
            $('#file').attr('required', 'true');
            //- $("input").prop('required',true);
        } else {
            $('#file').removeAttr('required');
            $("#container").hide();
        }
    });
    $("#document_Type").change(function() {
        console.log("worked");
        var options = $("#document_Type").val();
        if (options == "book") {
            console.log("worked iff");
            $("#subject_container").show();
            $("#title_container").hide();
            //- $('#file').attr('required',true);​​
            $('#file').attr('required', 'true');
            //- $("input").prop('required',true);
        } else {
            console.log("worked elseee");
            $('#file').attr('required', 'true');
            $("#subject_container").hide();
            $("#title_container").show();
        }
    });
});
</script>
{% endblock %}
