{% extends "personal/header.html" %} {% block content %}
<div>
    <form id="aspect_eperson_PasswordLogin_div_login" class="ds-interactive-div primary" action="/password-login/" method="post" enctype="multipart/form-data" onsubmit="javascript:tSubmit(this);">{% csrf_token %}
        <h2 class="ds-div-head page-header first-page-header">Admin Sign in </h2>
        <div class="ds-static-div row">
            <fieldset id="aspect_eperson_PasswordLogin_list_password-login" class="col ds-form-list col-md-6">
                <div class="ds-form-item row table">
                    <div class="control-group col-sm-12">
                        <label class="control-label required" for="aspect_eperson_PasswordLogin_field_login_email">E-Mail Address:&nbsp;</label>
                        <input id="aspect_eperson_PasswordLogin_field_login_email" class="ds-text-field form-control" name="login_email" type="email" value="" autofocus="autofocus" required="true">
                    </div>
                </div>
                <div class="ds-form-item row table">
                    <div class="control-group col-sm-12">
                        <label class="control-label required" for="aspect_eperson_PasswordLogin_field_login_password">Password:&nbsp;</label>
                        <input id="aspect_eperson_PasswordLogin_field_login_password" class="ds-password-field form-control" name="login_password" type="password" value="" required="true"><a href="/forgot"> Forgot your password?</a>
                    </div>
                </div>
                <div id="aspect_eperson_PasswordLogin_item_login-in" class="ds-form-item row">
                    <div class="control-group col-sm-12">
                        <p class="ds-paragraph">
                            <button id="aspect_eperson_PasswordLogin_field_submit" class="ds-button-field btn btn-default" name="submit" type="submit">Sign in</button>
                        </p>
                    </div>
                </div>
            </fieldset>
        </div>
        <h3 class="ds-div-head">Register new user</h3>
        <div id="aspect_eperson_PasswordLogin_div_register" class="ds-static-div">
            <p class="ds-paragraph">Register an account to subscribe to collections for email updates, and submit new items to DLI.</p>
            <p class="ds-paragraph">
                <a href="/register">Click here to register.</a>
            </p>
        </div>
    </form>
</div>
{% endblock %}
